body{
    background-color:lightgreen;
}
h1{
    color:red;
    font-size:60px;
    text-align:center;
    font-family:fantasy;
    position:static;
}
h1:hover{
    color:blue;
    font-size:70px;
}
li{
    display:inline-block;
    font-size:34px;
    color:white;
    font-weight:bold;
    padding:5px;
    margin-left:100px;
    margin-right:100px;
}
nav{
    background-color:black;
    margin-left:100px;
    margin-right:100px;
    top:0;
}
ul{
    text-align:center;
}
li:hover{
    background-color:lightblue;
}
p{
    font-size:25px;
    font-weight:bold;
    margin:10px;
}
img{
    height:400px;
    margin-left:100px;
    border:3px dashed black;
    padding:10px;
}
img:hover{
    background-color:lightseagreen;
    height:500px;
}